<?xml version="1.0" encoding="utf-8"?>
<!--manifest descreve a aplicacao, tanto o que ela faz quanto o que ela usa(acessos),
alem de registrar as activity e suas telas.
EX:acesso a memoria do celular acesso a localizacao do celular, acesso a wifi... e -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appconversormoedas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppConversorMoedas">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>